body {
  font-family: helvetica, sans-serif;
  width: 1140px;
  margin: 30px auto 0 auto;
  text-align: center;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
}

input {
  font-size: 20px;
  padding: 18px;
  width: 50%;
}

button {
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
}

.the-list li {
  background: #eee;
  color: #999;
  font-size: 1.5em;
}
